<div class="msg">
	<img class="avatar" src="<%= user.avatar_url %>">
	<span class="msg_date"><%= message.timestamp %></span>
	<label style="color: <%= user.color %>"><%= user.name %>:</label>
	<span><%= message.text %></span>
</div>
<hr>